@import url('https://fonts.googleapis.com/css?family=Poppins|Nunito');

body {
margin: 0px;
}

.parallaxTop {
background-image: url('fuji.jpg');
height: 100%;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding: 5% 0%;
font-family: poppins;
}

.header {
width: 60%;
height: 20%;
margin: auto;
position: relative;
overflow: hidden;
text-align: center;
font-size: 30pt;
display: table;
padding: 20px 0px;
}

ul {
list-style-type: none;
margin: 0px;
overflow: hidden;
width: 60%;
margin: auto;
}

li {
float: left;
width: 33%;
-webkit-transition: .3s ease;
white-space: nowrap;
border-bottom: 2px solid transparent;
}

li:hover {
border-bottom: 2px solid red;
}

.active {
color: red;
}

li a {
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.bodyTop {
height: 100%;
background-color: white;
width: 100%;
}

.profile {
width: 70%;
height: 300px;
max-height: 400px;
margin: auto;
margin-top: 5%;
margin-bottom: 5%;
display: table;
position: relative;
font-family: Nunito;
overflow: hidden;
}

.profileImage {
height: 100%;
width: 40%;
overflow: hidden;
display: table-cell;
float: left;
overflow: hidden;
}

.profileText {
float: right;
display: table-cell;
height: 100%;
max-height: 350px;
width: 50%;
padding: 20px;
text-align: justify;
overflow: hidden;
margin-top: 0%;
}

hr {
width: 40%;
}

.item1 {
width: 20%;
height: 50%;
position: absolute;
margin-left: 10%;
overflow: hidden;
border: 2px solid red;
-webkit-transition: all .3s ease-in-out;
}

.item1:hover {
-webkit-transform: scale(1.05);
}

.item2 {
width: 20%;
height: 50%;
position: absolute;
margin-left: 40%;
overflow: hidden;
border: 2px solid red;
-webkit-transition: all .3s ease-in-out;
}

.item2:hover {
-webkit-transform: scale(1.05);
}

.item3 {
width: 20%;
height: 50%;
position: absolute;
margin-left: 70%;
overflow: hidden;
border: 2px solid red;
-webkit-transition: all .3s ease-in-out;
}

.item3:hover {
-webkit-transform: scale(1.05);
}

.itemImage {
width: 100%;
height: 45%;
text-align: center;
border-bottom: 2px dashed red;
overflow: hidden;
}
.itemText {
width: 100%;
height: 55%;
background: -webkit-linear-gradient(top, #ffffff, #f7f7f7);
text-align: center;
}

.spacer {
margin-top: 5%;
width: 100%;
height: 400px;
}

.parallaxMid {
background-image: url('https://cloud.githubusercontent.com/assets/24756426/21468705/7d42126e-c9ef-11e6-977c-79ae4505945b.png');
height: 100%;
margin-top: 5%;
margin-bottom: 5%;
padding: 5%;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding: 5% 0%;
font-family: poppins;
}

.parallaxItem {
width: 20%;
height: 100%;
padding: 5px;
background-color: rgba(255, 255, 255, 0.8);
border: 2px dashed red;
text-align: center;
margin-left: 40%;
}

h2 {
text-align: center;
}

.bodyBlog {
height: 100%;
width: 100%;
background-color: white;
}

.blogPost {
width: 80%;
height: 20em;
margin: auto;
margin-top: 3%;
margin-bottom: 2%;
border: 1px dashed red;
font-family: poppins;
}

.blogImage {
height: 100%;
width: 30%;
overflow: hidden;
float: left;
}

.blogText {
height: 90%;
width: 65%;
text-align: justify;
margin-top: 15px;
margin-right: 3%;
overflow: hidden;
float: right;
}
